@font-face {
	font-family: 'HelveticaNeueCyr-Light';
	src: url('../fonts/helveticaneuecyr-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-light.svg#helveticaneuecyr-light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'HelveticaNeueCyr-Medium';
	src: url('../fonts/helveticaneuecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-medium.svg#helveticaneuecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
    font-family: 'HelveticaNeueCyr-Light';
    -moz-transform: scale(0.4, 0.4); /* Moz-browsers */
    zoom: 0.4; /* Other non-webkit browsers */
    zoom: 40%; /* Webkit browsers */
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'HelveticaNeueCyr-Medium';
    font-style: normal;
font-weight: 550;
font-size: 50px;
line-height: 49px;
text-transform: uppercase;

color: #202020;
}

h3 {
    font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;

color: #000000;
}

ul {
    margin-top: 35px;
    margin-bottom: 57px;
}

ul li {
    margin: 10px 0;
}

li {
    font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 35px;

color: #202020;
}

.contacts a {
    color: #202020;
    text-decoration: none;
}

.container {
    width: 2080px;
    margin: 0 auto;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.photo img {
width: 570px;
object-fit: cover;
height: 570px;
border-radius: 50%;
}

.title h1{
    font-family: 'HelveticaNeueCyr-Medium';
    font-style: normal;
    font-weight: 550;
    font-size: 170px;
    line-height: 168px;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
}

.title {
    margin-top: 80px;
    margin-bottom: 80px;
}

hr {
    border: solid #E8E8E8 ;
    border-width: 0.2em;
}

.contacts {
    width: 2080px;
    height: 205px;
    margin: 0 auto;
    margin-top: 20px;
    font-style: normal;
font-weight: 300;
font-size: 45px;
line-height: 44px;
letter-spacing: -0.03em;
text-transform: uppercase;
display: flex;
justify-content: center;
text-align: center;
line-height: 200px;

color: #202020;
}

.number {
    width:693px ;
    height:195px ;
    border-right: solid #E8E8E8;
}

.tel {
color: #202020;

}

.email {
    width: 692px;
    height: 195px;
    border-right: solid #E8E8E8;
    padding-left: 80px;
    padding-right: 80px;

}

.mail {
   
}

.city {
    width: 689px;
    height: 195px;
}

.social_summary {
    display: flex;
    margin-bottom: 80px;
}

.social {
    width: 693px;
    height: 400px;
    margin-top: 80px;
}

.social p {
    line-height: 100px;
    font-style: normal;
font-weight: 300;
font-size: 40px;
display: flex;
align-items: center;
text-transform: capitalize;
margin-left: 50px;

color: #000000;
}

.social h2 {
margin-bottom: 35px;
}

.all_logo {
    height: 310px;
    width: 90px;
    margin: 0;
}

.logo {
    width: 90px;
}

.instagram {
    display: flex;
}

.git {
    display: flex;
    margin-top: 35px;
    
}

.linkedin {
    display: flex;
    margin-top: 35px;

}



.summary {
    margin-top: 80px;
    margin-left: 51px;
    width: 1336px;
    height: 400px;
}

.summary p{
    margin-top: 50px;
    font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 101.3%;
/* or 41px */

text-transform: capitalize;

color: #000000;
}

.w_skills_w_experience {
    margin-top: 80px;
    display: flex;
    margin-bottom: 80px;
}

.w_skills {
    width: 693px;
    height: 510px;
}

.w_skills p {
    line-height: 100px;
    font-style: normal;
font-weight: 300;
font-size: 40px;
display: flex;
align-items: center;
text-transform: capitalize;
margin-left: 50px;

color: #000000;
}

.w_skills h2 {
margin-bottom: 35px;
}

.html {
    display: flex;
}

.css {
    display: flex;
    margin-top: 35px;
}

.github_s {
display: flex;
margin-top: 35px;
}

.figma {
    display: flex;
    margin-top: 35px;
}

.w_experience {
    margin-left: 51px;
}

.w_experience h2 {
    margin-bottom: 50px;
}

.language {
    width: 695px;
    margin-top: 100px;
}

.language h2 {
    margin-bottom: 35px;
}

.language p {
    line-height: 100px;
    font-style: normal;
font-weight: 300;
font-size: 40px;
display: flex;
align-items: center;
text-transform: capitalize;
margin-left: 50px;

color: #000000;
}

.english {
    display: flex;
}

.ukrainian {
    display: flex;
    margin-top: 35px;
}

.russian {
    display: flex;
    margin-top: 35px;
}

.hobby_education {
    display: flex;
}

.hobby {
    width: 695px;
    margin-top: 80px;
}

.hobby h2 {
    margin-bottom: 35px;
}

.hobby p {
    line-height: 100px;
    font-style: normal;
font-weight: 300;
font-size: 40px;
display: flex;
align-items: center;
text-transform: capitalize;
margin-left: 50px;

color: #000000;
}

.education {
    width: 1336px;
    margin-top: 80px;
}

.education h2 {
    margin-bottom: 50px;
}


.russian span {
    text-decoration: line-through;
}

.music {
    display: flex;
}

.rowing {
    display: flex;
    margin-top: 35px;
}


